{% extends 'base.html.twig' %}

{% block main %}
	.<div class="container">
		<div class="card">

			<div class="card-header">Liste des clients</div>
			<div class="card-body">
				<div class="d-flex justify-content-end">
					<a name="" id="" class="btn btn-outline-dark mb-2" href="{{path('clients.store')}}" role="button">Create</a>
				</div>

				<form class="d-flex my-2 my-lg-0 col-5">
					<input class="form-control me-sm-2" type="text" placeholder="Téléphone"/>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Search
					</button>
				</form>

				<div class="table-responsive mt-3">
					<table class="table table-light table-bordered table-striped ">
						<thead>
							<tr>
								<th class="">#</th>
								<th class="">Nom</th>
								<th class="">Prenom</th>
								<th class="">Surname</th>
								<th class="">Téléphone</th>
								<th class="">Actions</th>

							</tr>
						</thead>
						<tbody>
							{% for client in datas %}
								<tr class="">
									<td scope="row">

										<img src="{{asset('images/avatar.jpg')}}" alt="avatar.jpg" class="image-size">

									</td>
									<td>
										{% if client.user %}
											{{ client.user.nom }}
										{% endif %}

									</td>
									<td>
										{% if client.user %}
											{{ client.user.prenom }}
										{% endif %}

									</td>
									<td>
										{{ client.surname }}
									</td>
									<td>
                                    
										{{ client.telephone }}
									</td>
									<td>
										<a name="" id="" class="btn btn-outline-dark" href="#" role="button">Dettes</a>
										<a name="" id="" class="btn btn-outline-danger" href="#" role="button">Delete</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<nav aria-label="Page navigation" class="d-flex justify-content-end">
						<ul class="pagination    ">
							<li class="page-item disabled">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item active" aria-current="page">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>

				</div>

			</div>
		</div>
	</div>


{% endblock %}
